*{
    font-family: 'Fasthand', cursive;
    scroll-behavior: smooth;


}
body {
    
    background-size: cover;
    background-color: #FFE566;

}
header{
    background-color: #FFF6CC;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 4px 4px 40px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    border-radius: 20px;
    color: #FFF6CC;
  }
  #Home {
    margin: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #Home img{
    width: 600px;
    border: 3px black dotted;
    border-radius: 25px;
    z-index: -999;
    margin-right: 25px;
    box-shadow: 4px 4px 10px black;
  }
  
  #HomeText {
    border: 4px solid black;
    padding: 25px;
    box-shadow: 4px 4px 10px black;
    z-index: 999;
    background-color: #FFF6CC;
  }
  #About {
    margin: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #About img{
    width: 600px;
    border: 3px black dotted;
    border-radius: 25px;
    z-index: -999;
    margin-left: 25px;
    box-shadow: 4px 4px 10px black;
  }
  #AboutText {
    border: 4px solid black;
    padding: 25px;
    box-shadow: 4px 4px 10px black;
    z-index: 999;
    background-color: #FFF6CC;
  }
  #FindUs {
    margin: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #FindUs img{
    width: 600px;
    border: 3px black dotted;
    border-radius: 25px;
    z-index: -999;
    margin-right: 25px;
    box-shadow: 4px 4px 10px black;
  }
  #FindText {
    border: 4px solid black;
    padding: 25px;
    box-shadow: 4px 4px 10px black;
    z-index: 999;
    background-color: #FFF6CC;
  }
  footer {
    display: block;
  }